<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prediksi Masa Depan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
  <nav class="navbar bg-dark navbar-dark">
     <div class="container-fluid">
      <a class="navbar-brand" href="#">
<!--        <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top"> -->
        Kelompok 1
      </a>
     </div>
  </nav>
  <div class="container">
    <div class="row">
        <div class="col-md-5 mt-5">
            <form action="" method="post">
                <h3>Prediksi Data</h3>
                <div class="mb-3">
                    <label class="form-label">Sepal Length</label>
                    <input type="number" step="0.01" name="sl" class="form-control" placeholder="Example: 3.4">
                </div>
                <div class="mb-3">
                    <label class="form-label">Sepal Width</label>
                    <input type="number" name="sw" step="0.01" class="form-control" placeholder="Example: 3.4">
                </div>
                <div class="mb-3">
                    <label class="form-label">Petal Length</label>
                    <input type="number" name="pl" step="0.01" class="form-control" placeholder="Example: 3.4">
                </div>
                <div class="mb-3">
                    <label class="form-label">Petal Width</label>
                    <input type="number" name="pw" step="0.01" class="form-control" placeholder="Example: 3.4">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>